

.img-row {
    display: inline-block;
    border: 1px solid #a9a9a9;
    margin: 5px;
  }
  
  .img-frame {
    border: 5px solid #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  /* .img-frame:hover, .img-frame:focus, .img-frame:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  } */

/*=========================== Media queries ============================ */
/* Small devices (landscape phones, 480px) */
  @media (max-width:320px){
    .lightbox{
      margin-top: 80px;
    }
  }


  