<!-- <div *ngIf="loaderService.isLoading | async">
    <app-pre-loader></app-pre-loader>
  </div> -->
<div id="content" class="col-md-10 split">   <!--*ngIf="!(loaderService.isLoading | async)"-->
  <!-- ===== Booking section starts  ===== -->
  <div class="content-wrapper">
    <div class="content-box container"> 
      <div class="" id="inside-wrapper-confirmBooking">

        <div id="confirmBookingForm">
          <form #confirmBookingForm="ngForm">
            <div class="section-heading">
              <h2>Đặt Lịch Thành Công</h2>
            </div>
            <h4>Cảm ơn Anh/Chị {{customerName}} ({{phoneNumber}}) đã cho Châm trâm Nail được phục
              vụ.</h4>
              <h4>Thông tin đặt lịch của anh/chị:</h4>
            <h4><i class="fas fa-map-marker-alt margin-icon"></i> 35 Ngô Sĩ Liên - Hà Nội</h4>
            <h4><i class="far fa-clock margin-icon"></i> {{selectedHour}} Ngày
              {{selectedDate}}
              (Mong anh/chị đến sớm hơn 10 phút để chúng em phục vụ tốt nhất)
            </h4>
            <h4><i class="fas fa-female margin-icon"></i>  {{stylistName}}</h4>
            <h4>MỖI SĐT ĐẶT CHỈ DÀNH CHO 1 NGƯỜI</h4>
            <p>(*) Nếu làm nail cho nhiều người, anh/chị vui lòng dùng SĐT khác để đặt thêm 1 lần nữa hoặc gọi tới
              hotline để được sắp xếp giúp em!</p>
            <button type="button" class="btn" (click)="openChangeBooking()">Đổi Lịch</button>
            <!-- <button type="button" [routerLink]="['/home']" (click)="backToHome()" class="btn">Hủy Lịch</button> -->
            <button type="button" (click)="openConfirmDeleteBooking()" class="btn">Hủy Lịch</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

  <!-- Modal Confirm Change Booking-->
  <div class="backdrop" [ngStyle]="{'display':displayChangeBooking}"></div>
  <div id="modalChangeBooking" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayChangeBooking}">
    <div class="modal-dialog changeBoooking" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeChangeBooking()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Anh/chị có muốn đổi lịch</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="closeChangeBooking()">Đóng</button>
          <button type="button" class="btn" (click)="goBack()">Có</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->

    <!-- Modal Confirm Delete Booking-->
    <div class="backdrop" [ngStyle]="{'display':displayConfirmDeleteBooking}"></div>
    <div id="modalConfirmDeleteBooking" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmDeleteBooking}">
      <div class="modal-dialog confirmDeleteBoooking" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="closeConfirmDeleteBooking()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Anh/chị có muốn hủy lịch</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" (click)="closeConfirmDeleteBooking()">Đóng</button>
            <button type="button" class="btn" (click)="backToHome()">Có</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->