.btn{
  float: right;
  margin: 0px 2px 0 2px;
}

  #inside-wrapper-confirmBooking{
    padding: 70px 70px 70px 70px;
  }
  
  .choose-service, .choose-stylist, .choose-time{
      margin: auto;
      padding: 0px 50px 0 50px;
  }

  #modalChangeBooking{
      text-align: center;
  }

  #modalConfirmDeleteBooking{
      text-align: center;
  }

  .backdrop{
      background-color:rgba(0,0,0,0.6);
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100vh;
      z-index: 1;
   }

    /* Medium devices (tablets, 768px) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .modal-dialog{
    overflow-y: initial !important;
    margin-top: 95px;
}
.modal{
  overflow-y: scroll;
}
}

/* Small devices (landscape phones, 544px) */
@media (max-width: 480px ){
  .modal-dialog{
    overflow-y: initial !important
  }

  .modal-body h5{
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .modal-header h4{
    font-size: 19px;
  }
  
  .modal{
    overflow-y: scroll;
  }

  .btn{
    font-size: 14px;
    margin-right: 10px;
  }
}
