
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
      .mat-table {
        overflow: auto;
        max-height: 500px;
      }
      .example-header {
        min-height: 84px;
        padding: 8px 24px 0;
      }
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      } 
      .mat-column-caption{
        flex: 0 0 30%;
      }
      .mat-column-actions{
        flex: 0 0 20%;
      }