<!-- 
  <div class="row">
    <ul class="nav navbar-nav d-md-down-none col-md-3 split">
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="dashboard"routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="notification">Notification</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="dashboard">Settings</a>
      </li>
    </ul>
  </div> -->
  <router-outlet></router-outlet>