<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Quản lý order
      </div>
      <div class="card-body">
        <table class="table table-hover table-sm ">
          <thead>
            <tr>
              <th>Tên KH</th>
              <th>SDT</th>
              <th>Dịch vụ</th>
              <th>Stylist</th>
              <th>Ngày</th>
              <th>Giờ</th>
              <th>Coin</th>
              <th>Trạng thái</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings | paginate: { id: 'listing_pagination',
            itemsPerPage: 10,
            currentPage: page,
            totalItems: totalRec }">
              <td>{{booking.customer_name}}</td>
              <td>{{booking.phone_number}}</td>
              <td>{{booking.service_name}}</td>
              <td>{{booking.stylist_name}}</td>
              <td>{{booking.date}}</td>
              <td>{{booking.start_time}}</td>
              <td>{{booking.coin}}</td>
              <td>
                <span>
                  {{booking.status}}
                </span>
              </td>
              <!-- <td>
                  <div class="btn-group btn-group-xs" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" (click)="checkIn(booking.id)" 
                      [disabled]="booking.checkInDisable">Check in</button>
                      <button class="btn btn-danger" (click)="checkOut(booking.id)" 
                      [disabled]="booking.checkOutDisbale">Check out</button>
                      <button class="btn btn-danger" (click)="deleteBooking(booking.id)" 
                      [disabled]="booking.deleteDisable">Delete</button>
                    </div>
                
              </td> -->
              <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Thực hiện
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="btn btn-default" class="dropdown-item" type="button" (click)="checkIn(booking.id)" [disabled]="booking.checkInDisable">Check in</button>
                      <button class="dropdown-item" type="button" (click)="checkOut(booking.id)" [disabled]="booking.checkOutDisbale">Check out</button>
                      <button class="dropdown-item" type="button" (click)="deleteBooking(booking.id)" [disabled]="booking.deleteDisable">Delete</button>
                      <button class="dropdown-item" type="button" (click)="deleteBooking(booking.id)" [disabled]="booking.deleteDisable">Use coin</button>
                    </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
            (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>