<!-- Left Panel --> 
<div id="sidebar2" class="split col-md-2">
<aside id="left-panel" class="left-panel ">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="DemoIndex.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
        </li>
        <li class="menu-title">Managements</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
              class="menu-icon fa fa-users"></i>Stylist</a>
          <ul class="sub-menu children dropdown-menu">
            <li><i class="fa fa-puzzle-piece"></i><a href="ShiftSchedule.html">Shift Schedule</a></li>
            <li><i class="fa fa-id-badge"></i><a href="AddNewStylist.html">Add new Stylist</a></li>
            <li><i class="fa fa-bars"></i><a href="ListStylist.html">List Stylist</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="Order.html"> <i class="menu-icon fa fa-table"></i>Oders</a>

        </li>
        <li class="menu-item-has-children dropdown">
          <a href="Service.html"> <i class="menu-icon fa fa-th"></i>Service</a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="CustomerCoin.html"> <i class="menu-icon fa fa-th"></i>Customer Coin</a>
        </li>

        <li class="menu-title">Others</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
              class="menu-icon fa fa-envelope"></i>Feedback</a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
              class="menu-icon fa fa-camera-retro"></i>Galery</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</aside>
</div>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <header id="" class="header">
    <div class="top-right">
      <div class="header-menu">
       
        <div class="user-area dropdown float-right">
          <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle" src="" alt="User Avatar">
          </a>

          <div class="user-menu dropdown-menu">
            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
          </div>
        </div>

      </div>
    </div>
  </header>
</div>