<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
  <!-- ===== Home section starts  ===== -->
  <div id="home">
    <div class="slideshow">
      <div class="slideshow-image"></div>
      <div class="slideshow-image"></div>
      <div class="slideshow-image"></div>
      <div class="slideshow-image"></div>
    </div>
    <!-- /slideshow -->
    <div class="content-wrapper">
      <div class="content-box home text-center container">
        <div class="inside-wrapper home col-md-12">
          <h3>Welcome to Trâm Trâm</h3>
          <div class="input_sdt">
            <form>
              <div class="std_img"></div>
              <p class="lead">Có booking services nhỏ ở đây như 30 shine</p>
              <!-- Buttons -->
              <a class="btn btn-primary" href="contact.html">Contact us</a> <a class="btn btn-primary" href="aboutus.html">More
                info</a>
            </form>
          </div>
        </div>
        <!-- /inside-wrapper -->
      </div>
      <!-- /content-box -->
    </div>
    <!-- /content-wrapper -->
  </div>
  <!-- /home section ends -->
</div>
<!-- /content -->