<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
  <!-- ===== About section starts  ===== -->
  <div id="aboutus">
    <div class="content-wrapper">
      <div class="content-box container">
        <div class="inside-wrapper container">
          <!-- section-heading -->
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
          <!-- /section-heading -->
          <div class="row">
            <!-- image -->
            <div class="col-md-6">
              <img class="img-responsive img-paragraph center-block" src="../../assets/img/services/service4.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h4>Since 1990 with you</h4>
              <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li
                pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On
                refusa continuar payar custosi traductores.</p>
              <ul class="custom pl-0">
                <li>Europan lingues es membres del sam familie</li>
                <li>Ipuset phas ellus ac sodales Lorem ipsum dolor</li>
                <li>Aliquam erat volut pat phas ellu</li>
              </ul>
            </div>
          </div>
          <div class="row margin1">
            <!-- featured box 1 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-massage-spa-body-treatment"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Professional Staff</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4  -->
            <!-- featured box 2 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-spa-cream-pot-of-natural-flowers"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Quality Products</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4  -->
            <!-- featured box 3 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-relaxing-spa-light-of-burning-candles-couple"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Relaxing Enviroment</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4 -->
          </div>
          <!--/row -->
        </div>
        <!--/ inside-wrapper  -->
        <div class="bg-color1 col-md-12">
          <div class="inside-wrapper container">
            <h3 class="text-center text-light no-margin-top">Meet Our Team</h3>
            <!-- Team carousel -->
            <div id="owl-team" class="owl-carousel owl-theme margin1">
              <!-- Team member -->
              <figure class="col-lg-12 team">
                <!-- image -->
                <img src="../../assets/img/team/team1.jpg" class="img-fluid" alt="" />
                <!-- social icons -->
                <div class="icons">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"> <i class="fab fa-facebook-f"></i></a>
                  <a href="#"> <i class="fab fa-instagram"></i></a>
                </div>
                <!-- caption -->
                <figcaption>
                  <h4>Mary Smith</h4>
                  <h6>Masseur</h6>
                  <p>
                    Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam,
                    laboriosa
                  </p>
                </figcaption>
              </figure>
              <!-- /figure -->
              <!-- Team member -->
              <figure class="col-lg-12 team">
                <!-- image -->
                <img src="../../assets/img/team/team2.jpg" class="img-fluid" alt="" />
                <!-- social icons -->
                <div class="icons">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- caption -->
                <figcaption>
                  <h4>John Doe</h4>
                  <h6>Massage therapist</h6>
                  <p>
                    Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam,
                    laboriosa
                  </p>
                </figcaption>
              </figure>
              <!-- /figure -->
              <!-- Team member -->
              <figure class="col-lg-12 team">
                <!-- image -->
                <img src="../../assets/img/team/team3.jpg" class="img-fluid" alt="" />
                <!-- social icons -->
                <div class="icons">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- caption -->
                <figcaption>
                  <h4>Alissa Silva</h4>
                  <h6>Massage therapist</h6>
                  <p>
                    Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam,
                    laboriosa
                  </p>
                </figcaption>
              </figure>
              <!-- /figure -->
              <!-- Team member -->
              <figure class="col-lg-12 team">
                <!-- image -->
                <img src="../../assets/img/team/team4.jpg" class="img-fluid" alt="" />
                <!-- social icons -->
                <div class="icons">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- caption -->
                <figcaption>
                  <h4>Ana Doe</h4>
                  <h6>Masseur</h6>
                  <p>
                    Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam,
                    laboriosa
                  </p>
                </figcaption>
              </figure>
              <!-- /figure -->
              <!-- Team member -->
              <figure class="col-lg-12 team">
                <!-- image -->
                <img src="../../assets/img/team/team5.jpg" class="img-fluid" alt="" />
                <!-- social icons -->
                <div class="icons">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- caption -->
                <figcaption>
                  <h4>Lucas Manson</h4>
                  <h6>Masseur</h6>
                  <p>
                    Accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam,
                    laboriosa
                  </p>
                </figcaption>
              </figure>
              <!-- /figure -->
            </div>
            <!-- /owl-carousel -->
          </div>
          <!-- /inside-wrapper -->
        </div>
        <!-- /bg-color1-->
        <div class="col-md-12">
          <div class="inside-wrapper container">
            <div class="col-md-8 col-md-offset-2">
              <h3 class="text-center">What our clients say</h3>
              <!-- Testimonial carousel-->
              <div id="owl-testimonial" class="margin1 owl-carousel owl-theme">
                <!-- testimonial -->
                <div class="testimonial">
                  <div class="content">
                    <p class="description">
                      Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec
                      commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus.
                      Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                    </p>
                  </div>
                  <!-- /content -->
                  <div class="testimonial-pic">
                    <img src="../../assets/img/team/team1.jpg" class="img-fluid" alt="">
                  </div>
                  <!-- /testimonial-pic -->
                  <div class="testimonial-review">
                    <h6 class="testimonial-title">Lucianna Smith</h6>
                    <span>Teacher</span>
                  </div>
                  <!-- /testimonial-review -->
                </div>
                <!-- /testimonial -->
                <!-- testimonial -->
                <div class="testimonial">
                  <div class="content">
                    <p class="description">
                      Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec
                      commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus.
                      Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                    </p>
                  </div>
                  <!-- /content -->
                  <div class="testimonial-pic">
                    <img src="../../assets/img/team/team2.jpg" class="img-fluid" alt="">
                  </div>
                  <!-- /testimonial-pic -->
                  <div class="testimonial-review">
                    <h6 class="testimonial-title">John Sadana</h6>
                    <span>Doctor</span>
                  </div>
                  <!-- /testimonial-review -->
                </div>
                <!-- /testimonial -->
                <!-- testimonial -->
                <div class="testimonial">
                  <div class="content">
                    <p class="description">
                      Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec
                      commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus.
                      Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                    </p>
                  </div>
                  <!-- /content -->
                  <div class="testimonial-pic">
                    <img src="../../assets/img/team/team3.jpg" class="img-fluid" alt="">
                  </div>
                  <!-- /testimonial-pic -->
                  <div class="testimonial-review">
                    <h6 class="testimonial-title">Jane Janeth</h6>
                    <span>Librarian</span>
                  </div>
                  <!-- /testimonial-review -->
                </div>
                <!-- /testimonial -->
              </div>
              <!-- /owl-testimonial -->
            </div>
            <!-- /col-md-8 -->
          </div>
          <!-- /inside-wrapper -->
        </div>
        <!-- /col-md-12 -->
      </div>
      <!-- /content-box -->
    </div>
    <!-- / content-wrapper -->
  </div>
  <!-- /about us ends -->
</div>
<!-- /content -->