<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
  <!-- ===== About section starts  ===== -->
  <div id="aboutus">
    <div class="content-wrapper">
      <div class="content-box container">
        <div class="inside-wrapper container">
          <!-- section-heading -->
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
          <!-- /section-heading -->
          <div class="row">
            <!-- image -->
            <div class="col-md-6">
              <img class="img-responsive img-paragraph center-block" src="../../assets/img/services/service4.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h4>Since 1990 with you</h4>
              <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li
                pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On
                refusa continuar payar custosi traductores.</p>
              <ul class="custom pl-0">
                <li>Europan lingues es membres del sam familie</li>
                <li>Ipuset phas ellus ac sodales Lorem ipsum dolor</li>
                <li>Aliquam erat volut pat phas ellu</li>
              </ul>
            </div>
          </div>
          <div class="row margin1">
            <!-- featured box 1 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-massage-spa-body-treatment"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Professional Staff</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4  -->
            <!-- featured box 2 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-spa-cream-pot-of-natural-flowers"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Quality Products</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4  -->
            <!-- featured box 3 -->
            <div class="col-md-4">
              <div class="serviceBox">
                <!-- featured icon -->
                <div class="service-icon">
                  <i class="flaticon-relaxing-spa-light-of-burning-candles-couple"></i>
                </div>
                <!-- feature content -->
                <div class="service-content">
                  <h5>Relaxing Enviroment</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                  </p>
                </div>
              </div>
            </div>
            <!--/col-md-4 -->
          </div>
          <!--/row -->
        </div>
        <!--/ inside-wrapper  -->
       
      </div>
      <!-- /content-box -->
    </div>
    <!-- / content-wrapper -->
  </div>
  <!-- /about us ends -->
</div>
<!-- /content -->