<h2 mat-dialog-title>Thêm lịch làm việc</h2>
<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
        <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Chọn 1 ngày" [(ngModel)]="data.date" 
        [ngModelOptions]="{standalone: true}" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>STT</th>
              <th>Tên</th>
              <th>Thời gian làm việc</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let addShift of data.addShifts; let i= index">
              <td>{{i + 1}}</td>
              <td>{{ addShift.stylist_name }}
              </td>
              <td>
                <select matNativeControl required [(ngModel)]="addShift.status" [ngModelOptions]="{standalone: true}">
                  <option value="1">sáng</option>
                  <option value="2">chiều</option>
                  <option value="3">cả ngày</option>
                  <option value="0">nghỉ</option>
                </select>
              </td>
              <td>
              </td>
          </tr>
      </tbody>
  </table>
   <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="data">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>  
  </form>
