 <!-- ===== content starts  ===== -->
 <div id="content" class="col-md-10 split">
  <!-- ===== Gallery section starts  ===== -->
  <div id="gallery">
     <div class="content-wrapper">
        <div class="content-box container">
           <div class="inside-wrapper container">
              <!-- section-heading -->
              <div class="section-heading">
                 <h2>Our Gallery</h2>
              </div>
              <!-- /section-heading -->
              <!-- centered Gallery navigation -->
              <ul class="nav nav-pills cat centered">
                 <li class="active"><a href="" data-filter="*">All</a></li>
                 <li><a href="" data-filter=".spa">Our Spa</a></li>
                 <li><a href="" data-filter=".services">Our services</a></li>
              </ul>
              <!-- /ul -->
              <!-- Gallery -->
              <div id="gallery-isotope" class="margin1">
                 <!-- Image 1 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery1.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery1.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 2 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery2.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery2.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 3 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery3.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery3.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 4 -->
                 <div class="spa col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery4.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery4.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 5 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery5.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery5.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 6 -->
                 <div class="spa col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery6.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery6.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 7 -->
                 <div class="spa col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery7.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery7.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 8 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery8.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery8.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 9 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery9.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery9.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 10 -->
                 <div class="spa col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery10.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery10.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 11 -->
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery11.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery11.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
                 <!-- Image 12 -->
                 <div class="spa col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery12.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery12.jpg"  title="You can add caption to pictures.">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
              </div>
              <!-- /gallery-isotope-->
           </div>
           <!-- /inside-wrapper -->
        </div>
        <!-- /content-box -->
     </div>
     <!-- / content-wrapper -->
  </div>
  <!-- /gallery ends -->
</div>
<!-- /content -->