<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
   <!-- ===== Gallery section starts  ===== -->
   <div id="gallery">
      <div class="content-wrapper">
         <div class="content-box container">
            <div class="inside-wrapper container">
               <!-- section-heading -->
               <div class="section-heading">
                  <h2>Album Ảnh</h2>
               </div>
               <!-- /section-heading -->
               <!-- centered Gallery navigation -->
               <!-- <ul class="nav nav-pills cat centered">
                 <li class="active"><a href="" data-filter="*">All</a></li>
                 <li><a href="" data-filter=".spa">Our Spa</a></li>
                 <li><a href="" data-filter=".services">Our services</a></li>
              </ul> -->
               <!-- /ul -->
               <!-- Gallery -->
               <!-- <div id="gallery-isotope" class="margin1">
                
                 <div class="services col-lg-4 col-sm-6 col-md-6">
                    <div class="isotope-item">
                       <div class="gallery-thumb">
                          <img class="img-responsive" src="../../assets/img/gallery/gallery1.jpg" alt="">
                          <a href="../../assets/img/gallery/gallery1.jpg">
                             <span class="overlay-mask"></span>
                          </a>							  							  
                       </div>
                    </div>
                 </div>
  
              </div> -->
               <!-- /gallery-isotope-->

               <div class="row">
                  <div class="col-sm-12 col-md-6">
                     <div class="block-content">
                        <div class="wrap-img">
                           <img class="img-responsive" src="../../assets/img/gallery/nail1.jpg" alt="">
                        </div>
                        <div class="wrap-btn">
                           <a class="btn" (click)="openCollection()" target="_blank" routerLink="abc">Name of Collection</a>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                     <div class="block-content">
                        <div class="wrap-img">
                           <img class="img-responsive" src="../../assets/img/gallery/nail2.jpg" alt="">
                        </div>
                        <div class="wrap-btn">
                           <a class="btn">Name of Collection</a>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                     <div class="block-content">
                        <div class="wrap-img">
                           <img class="img-responsive" src="../../assets/img/gallery/nail3.jpg" alt="">
                        </div>
                        <div class="wrap-btn">
                           <a class="btn">Name of Collection</a>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                     <div class="block-content">
                        <div class="wrap-img">
                           <img class="img-responsive" src="../../assets/img/gallery/nail4.jpg" alt="">
                        </div>
                        <div class="wrap-btn">
                           <a class="btn">Name of Collection</a>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                     <div class="block-content">
                        <div class="wrap-img">
                           <img class="img-responsive" src="../../assets/img/gallery/nail5.jpg" alt="">
                        </div>
                        <div class="wrap-btn">
                           <a class="btn">Name of Collection</a>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            <!-- /inside-wrapper -->
         </div>
         <!-- /content-box -->
      </div>
      <!-- / content-wrapper -->
   </div>
   <!-- /gallery ends -->
</div>
<!-- /content -->