<div id="content" class="col-md-9 split"><nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nail Booking Service</a>
        </div>
  
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-notifications">
                    <a class="dropdown-toggle" data-toggle="dropdown" (click)="markAllRead()">
                        <i data-count="0" class="glyphicon glyphicon-bell notification-icon"></i>
                    </a>
                    <div class="dropdown-container">
                        <div class="dropdown-toolbar">
                            <h3 class="dropdown-toolbar-title">Notifications (<span class="notif-count">0</span>)</h3>
                        </div>
                        <ul class="dropdown-menu">
                            <!-- <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="https://api.adorable.io/avatars/71/`+`.png" class="img-circle"
                                                alt="50x50" style="width: 50px; height: 50px;">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title">{{notificaiton.title}}</strong>
                                        <p class="notification-desc">{{notificaiton.message}}</p>
                                        <div class="notification-meta">
                                            <small class="timestamp">about a minute ago</small>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                        <!-- <div class="dropdown-footer text-center">
                            <a href="#">View All</a>
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </nav></div>
