<ul class="nav navbar-nav">
    <li class="dropdown dropdown-notifications">
        <a class="dropdown-toggle" data-toggle="dropdown" (click)="markAllRead()">
            <i data-count="0" class="glyphicon glyphicon-bell notification-icon"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-toolbar">
                <h3 class="dropdown-toolbar-title">Thông báo (<span class="notif-count">0</span>)</h3>
            </li>    
        </ul>
    </li>
</ul>