
<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
      <!-- ===== Service section starts  ===== -->
      <div id="services">
         <div class="content-wrapper">
            <div class="content-box container">
               <div class="inside-wrapper container">
                  <!-- section-heading -->
                  <div class="section-heading">
                     <h2>Dịch Vụ</h2>
                  </div>
                  <!-- /section-heading -->
                  <div class="col-lg-12">
                     <h4>Quy trình thực hiện nail:</h4>
                     <ul class="custom pl-0">
                      <li class="text-line">1. Bạn sẽ được tư vấn kiểu dáng và phong cách thiết kế phù hợp. Nail đẹp trước tiên phải là nail phù hợp với bạn.</li>
                      <li class="text-line">2. Xử lý móng ban đầu như tháo lớp gel cũ và bôi dưỡng phục hồi để đưa móng về nguyên trạng.</li>
                         <li class="text-line">3. Chăm sóc móng, làm sạch viền da. Quy trình này giúp lấy đi các tế bào chết, bụi bẩn quanh móng để móng tay được gọn gàng, sạch sẽ hơn.</li>
                           <li class="text-line">4. Sửa dáng móng và xử lý bề mặt móng.</li>
                               <li class="text-line"><strong>Sau đó khách hàng sẽ chọn những dịch vụ tiếp theo để từ đó biết được mình sử dụng loại dịch vụ Cơ bản hay Nâng cao.</strong></li>
                     </ul>
                  </div>
                  
                  <!-- alert box -->
                  <div class="alert alert-info col-md-12 margin1 text-center">
                     <h4>Thông tin Bảng Giá</h4>
                     <p>Bảng giá chi tiết các dịch vụ được chia thành 2 loại Cơ bản và Nâng cao. Mời quý khách tham khảo. 
                     </p>
                     <!-- button -->
                     <a class="btn" routerLink="/prices">Bảng Giá</a>
                  </div>
                  <!-- /alert -->
               </div>
               <!-- /inside-wrapper -->
            </div>
            <!-- /content-box -->
         </div>
         <!-- / content-wrapper -->
      </div>
      <!-- /services ends -->
    </div>
    <!-- /content -->