
<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
  <!-- ===== Service section starts  ===== -->
  <div id="services">
     <div class="content-wrapper">
        <div class="content-box container">
           <div class="inside-wrapper container">
              <!-- section-heading -->
              <div class="section-heading">
                 <h2>Dịch Vụ</h2>
              </div>
              <!-- /section-heading -->
              <div class="col-lg-12">
                 <h3>Quy trình thực hiện nail</h3>
                 <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                 <p><strong>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</strong></p>
              </div>
              
              <!-- alert box -->
              <div class="alert alert-info col-md-12 margin1 text-center">
                 <h4>Thông tin Bảng Giá</h4>
                 <p> Tùy từng loại dịch vụ sẽ có service và giá khác nhau. Anh/chị nhấn vào nút bên dưới để xem chi tiết
                 </p>
                 <!-- button -->
                 <a class="btn btn-primary" href="/prices">Bảng Giá</a>
              </div>
              <!-- /alert -->
           </div>
           <!-- /inside-wrapper -->
        </div>
        <!-- /content-box -->
     </div>
     <!-- / content-wrapper -->
  </div>
  <!-- /services ends -->
</div>
<!-- /content -->