<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
  <!-- ===== Prices section starts  ===== -->
  <div id="prices">
    <div class="content-wrapper">
      <div class="content-box container">
        <div class="inside-wrapper container">
          <!-- section-heading -->
          <div class="section-heading">
            <h2>Our Prices</h2>
          </div>
          <!-- /section-heading -->
          <!-- Navigation -->
          <ul class="nav nav-tabs col-md-12  margin1" id="myTab">
            <li class="active">
              <a href="#tab1" data-toggle="tab">
                <img class="img-responsive img-circle img-price" src="../../assets/img/prices/price1.jpg" alt="">
                Dịch Vụ Chung
              </a>
            </li>
            <li>
              <a href="#tab2" data-toggle="tab">
                <img class="img-responsive img-circle img-price" src="../../assets/img/prices/price2.jpg" alt="">
                Cơ Bản
              </a>
            </li>
            <li>
              <a href="#tab3" data-toggle="tab">
                <img class="img-responsive img-circle img-price" src="../../assets/img/prices/price3.jpg" alt="">
                Nâng Cao
              </a>
            </li>
          </ul>
          <!-- Price tabs Start -->
          <div class="tabbable">
            <div class="tab-content">
              <!--Tab Content 1 -->
              <div class="tab-pane fade active in" id="tab1">
                <!-- Prices: Hair & Face -->
                <div class="prices-main">
                  <!-- First Row -->
                  <div class="row">
                    <!-- menu body -->
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Phá Gel
                        </div>
                        <div class="menu-item-price">
                          10.000-50.000
                        </div>
                        <div class="menu-item-description">
                          <p>Phá gel cũ</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <!-- / menu body -->
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Sửa Móng
                        </div>
                        <div class="menu-item-price">
                          30.000
                        </div>
                        <div class="menu-item-description">
                          <p>Sửa móng</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Sơn Thường
                        </div>
                        <div class="menu-item-price">
                          30.000
                        </div>
                        <div class="menu-item-description">
                          <p>Sơn thường</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Sơn Gel
                        </div>
                        <div class="menu-item-price">
                          70.000
                        </div>
                        <div class="menu-item-description">
                          <p>Sơn Gel</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <!--/ menu section -->
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Eyebrow Design
                        </div>
                        <div class="menu-item-price">
                          $32
                        </div>
                        <div class="menu-item-description">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Fake Lashes Aplication
                        </div>
                        <div class="menu-item-price">
                          $40
                        </div>
                        <div class="menu-item-description">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Facial Massage
                        </div>
                        <div class="menu-item-price">
                          $80
                        </div>
                        <div class="menu-item-description">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <!-- Item starts -->
                      <div class="menu-item">
                        <div class="menu-item-name">
                          Laser Treatment
                        </div>
                        <div class="menu-item-price">
                          $200
                        </div>
                        <div class="menu-item-description">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                        </div>
                      </div>
                      <!-- Item ends -->
                    </div>
                  </div>

                </div>
                <!-- /prices-main -->
              </div>
              <!-- /#tab1 -->
              
              <!--Tab Content 2 -->
              <div class="tab-pane fade" id="tab2">
                <!-- Prices: Skin & Body -->
                <div class="prices-main">
                  <!-- First Row -->
                  <div class="col-md-6">
                    <!-- menu body -->
                    <div class="menu-body">
                      <div class="menu-section">
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Haircut
                          </div>
                          <div class="menu-item-price">
                            $50
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Scalp Massage
                          </div>
                          <div class="menu-item-price">
                            $70
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Colouring
                          </div>
                          <div class="menu-item-price">
                            $120
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Styling or Straightening
                          </div>
                          <div class="menu-item-price">
                            $60
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                      </div>
                      <!--/ menu section -->
                    </div>
                    <!-- / menu body -->
                  </div>
                  <!-- /col-md-6 -->
                  <!-- Second Row -->
                  <div class="col-md-6">
                    <div class="menu-body">
                      <div class="menu-section">
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Eyebrow Design
                          </div>
                          <div class="menu-item-price">
                            $32
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Fake Lashes Aplication
                          </div>
                          <div class="menu-item-price">
                            $40
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Facial Massage
                          </div>
                          <div class="menu-item-price">
                            $80
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Laser Treatment
                          </div>
                          <div class="menu-item-price">
                            $200
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                      </div>
                      <!--/ menu section -->
                    </div>
                    <!-- / menu body -->
                  </div>
                  <!-- /col-md-6 -->
                </div>
                <!-- /prices-main -->
              </div>
              <!-- /#tab2 -->
              <!-- Tab Content 3 -->
              <div class="tab-pane fade" id="tab3">
                <!-- Prices: Wellbeing -->
                <div class="prices-main">
                  <!-- First Row -->
                  <div class="col-md-6">
                    <!-- menu body -->
                    <div class="menu-body">
                      <div class="menu-section">
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Haircut
                          </div>
                          <div class="menu-item-price">
                            $50
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Scalp Massage
                          </div>
                          <div class="menu-item-price">
                            $70
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Colouring
                          </div>
                          <div class="menu-item-price">
                            $120
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Styling or Straightening
                          </div>
                          <div class="menu-item-price">
                            $60
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                      </div>
                      <!--/ menu section -->
                    </div>
                    <!-- / menu body -->
                  </div>
                  <!-- /col-md-6 -->
                  <!-- Second Row -->
                  <div class="col-md-6">
                    <div class="menu-body">
                      <div class="menu-section">
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Eyebrow Design
                          </div>
                          <div class="menu-item-price">
                            $32
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Fake Lashes Aplication
                          </div>
                          <div class="menu-item-price">
                            $40
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Facial Massage
                          </div>
                          <div class="menu-item-price">
                            $80
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                        <!-- Item starts -->
                        <div class="menu-item">
                          <div class="menu-item-name">
                            Laser Treatment
                          </div>
                          <div class="menu-item-price">
                            $200
                          </div>
                          <div class="menu-item-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                          </div>
                        </div>
                        <!-- Item ends -->
                      </div>
                      <!--/ menu section -->
                    </div>
                    <!-- / menu body -->
                  </div>
                  <!-- /col-md-6 -->
                </div>
                <!-- /prices-main -->
              </div>
              <!-- /#tab3 -->
            </div>
            <!--tab-content-->
          </div>
          <!--tababble-->
        </div>
        <!-- /inside-wrapper -->
      </div>
      <!-- /content-box -->
    </div>
    <!-- / content-wrapper -->
  </div>
  <!-- /prices ends -->
</div>
<!-- /content -->