<h3 mat-dialog-title>Tạo mới dịch vụ</h3>
<!-- <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  <div class="form">
    <mat-form-field color="primary">
      <input matInput #input class="form-control" placeholder="Tên dịch vụ" [(ngModel)]="data.name" name="name"
        required>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="form">
      <mat-select placeholder="Loại dịch vụ" [(ngModel)]="data.service_id"
      [ngModelOptions]="{standalone: true}" required>
        <mat-option *ngFor="let service of services" [value]="service.id">
          {{service.service_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </div>

  <div class="form">
    <mat-form-field color="primary">
      <input matInput placeholder="Giá" [(ngModel)]="data.price" name="price" required>
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="data">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>  
  </form> -->

<form [formGroup]="ownerForm" novalidate (ngSubmit)="submit()">
  <div class="form">
    <mat-form-field color="primary">
      <input matInput class="form-control" placeholder="Tên dịch vụ" [(ngModel)]="data.name" name="name" required
        formControlName="name">
      <mat-error *ngIf="hasError('name', 'required')">Điền tên dịch vụ</mat-error>

    </mat-form-field>
  </div>
  <!-- <div class="hint">Chọn loại dịch vụ*</div> -->
  <div class="form">
    <mat-form-field>
    <mat-select placeholder="Chọn loại dịch vụ" [(ngModel)]="data.service_id" required formControlName="service">
      <mat-option *ngFor="let service of services" [value]="service.id">
        {{service.service_name}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="hasError('service', 'required')">Chọn loại dịch vụ</mat-error> -->
    </mat-form-field>
  </div>
  <div class="form">
    <mat-form-field color="primary">
      <input type="number" matInput placeholder="Giá" [(ngModel)]="data.price" name="price" formControlName="price" required>
      <mat-error *ngIf="hasError('price', 'required')">Điền giá</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button [type]="submit" [disabled]="!ownerForm.valid" [mat-dialog-close]="data">Save</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</form>