<!-- ===== content starts  ===== -->
<div id="content" class="col-md-10 split">
    <!-- ===== About section starts  ===== -->
    <div id="aboutus">
      <div class="content-wrapper">
        <div class="content-box container">
          <div class="inside-wrapper container">
            <!-- section-heading -->
            <div class="section-heading">
              <h2>Giới Thiệu</h2>
            </div>
            <!-- /section-heading -->
            <div class="row">
              <!-- image -->
              <div class="img-float">
                <img class="img-responsive img-paragraph center-block" src="../../../assets/img/services/service4.jpg" alt="">
              </div>
              <div class="content-aboutus">
                <!-- <h4>Since 1990 with you</h4> -->
                <p>Ra đời từ tháng 2/2016, Nail Châm Trâm được hình thành từ niềm đam mê và mong muốn được mang lại vẻ đẹp cho đôi tay của các bạn nữ ở Hà Nội. Đến nay Nail Châm Trâm không chỉ là nơi để các bạn nữ đến thư giãn, nghỉ ngơi, chăm sóc sắc đẹp của mình sau những giờ làm việc và học tập căng thẳng mà còn là địa điểm để cho những ai muốn làm về Nail có thể đến học tập và lấy kinh nghiệm.  
                  </p><br>
                  <p>Xuất phát điểm chỉ là 1 thợ làm Nail như bao người thợ khác, nhưng chị Trâm -  chủ salon Nail Châm Trâm đã luôn khao khát và mong muốn có cho mình 1 salon Nail cũng như phát triển thành 1 hệ thống quy mô, chuyên nghiệp. </p>
                <br>
                <p>Với mong muốn đó, chị đang những bước đầu hiện thực hóa giấc mơ của mình bằng những mục tiêu ngắn hạn như:</p>
                  <ul class="custom pl-0">
                  <li>Thay đổi thói quen đặt chỗ của khách hàng từ truyền thống sang online.</li>
                  <li>Tiếp cận nhanh với các công nghệ Nail hiện đại trên thế giới.</li>
                  <li>Đào tạo đội ngũ stylist chuyên nghiệp.</li>
                  <li>Mở rộng dịch vụ không chỉ Nail mà có thể là Spa.</li>
                  <li>Phát triển từ 1 salon thành 1 chuỗi salon trên địa bàn Hà Nội nói riêng và cả nước nói chung.</li>
                </ul>
  
                <p>Hy vọng rằng đến một ngày nào đó, khi nghĩ đến Nail thì các bạn sẽ nghĩ đến ngay Châm Trâm.
                  Châm Trâm sẽ không đơn giản là 1 nơi để làm đẹp mà còn là địa điểm để bạn nghỉ ngơi thư giãn, thậm chí là trút bầu tâm sự như 1 người tri kỉ.
                  </p>
                  <p>Cảm ơn và xin hân hạnh được phục vụ ở Nail Châm Trâm.</p>
              </div>
            </div>
          
          </div>
          <!--/ inside-wrapper  -->
         
        </div>
        <!-- /content-box -->
      </div>
      <!-- / content-wrapper -->
    </div>
    <!-- /about us ends -->
  </div>
  <!-- /content -->